@use "./../../../styles/variables" as *;

.about-me {
  padding: 1rem;
  text-align: left;
}

.about-me__title {
  color: $colour-black;
}

.about-me__image-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.about-me__portrait {
  max-width: 75%;
  height: auto;
  outline: 0.1rem black solid;
}
