@use "../../styles/variables" as *;

.project-tile {
  text-align: left;

  &__container {
    width: 85%;
    padding-top: 1rem;
    margin: 0 auto;
    border-radius: 1rem;

    &__project {
      display: flex;
      align-items: center;
      width: 80%;
    }

    &__text-container {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 1.5rem;
        color: $colour-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img {
          width: 2.5rem;
          margin-left: 0.5rem;
        }
      }

      &__tag {
        padding: 0.2rem;
        border: 0.125rem solid $colour-primary;
      }
    }
  }
}
