@use "./../../styles/variables" as *;

.main {
  text-align: center;
  background-color: $background;
}

p {
  color: $colour-secondary;
}

h1 {
  color: $colour-primary;
}

h4 {
  color: $colour-primary;
}
