@use "../../../styles/variables" as *;

.skills {
  text-align: left;
}

// .skills__title {
//   color: black;
// }

.skills__content {
  padding: 1rem;
}

.skills__grid {
  display: flex;
  overflow-x: scroll;
}

.skills__icons {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

figcaption {
  color: $colour-secondary;
}
