.introduction {
  padding: 5rem 1rem;
  text-align: left;
}

.introduction__intro {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.introduction__name {
  font-size: 2rem;
  color: white;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.introduction__title {
  font-size: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.introduction__paragraph {
  font-size: 1rem;
  margin-top: 2rem;
}
