@use "./../../../styles/variables" as *;

.introduction {
  padding: 5rem 1rem;
  text-align: left;
}

.introduction__intro {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.introduction__name {
  font-size: 2rem;
  color: #add8e6;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.introduction__title {
  font-size: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.introduction__paragraph {
  font-size: 1rem;
  margin-top: 2rem;
}

.introduction__bigger {
  font-size: 1.5rem;
}

.introduction__container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.introduction__button {
  padding: 0.5rem;
  color: $colour-secondary;
  background: none;
  border: 0.1rem solid $colour-secondary;
  border-radius: 0.5rem;
}
